[submodule "deps/GSL"]
	path = deps/GSL
	url = git@github.com:microsoft/GSL.git
[submodule "deps/Catch2"]
	path = deps/Catch2
	url = git@github.com:catchorg/Catch2.git
[submodule "deps/etl"]
	path = deps/etl
	url = git@github.com:ETLCPP/etl.git
